.App {
  text-align: center;
  background-color: lightgrey;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.book {
  width: 400px;
  height: 300px;
  margin: 20;
  padding: 12px;
  background-color: beige;
  text-align: center;
}
